<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>500 | SecureWEB hosting control panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="tenten.vn SecureWEB hosting control panel">
    <meta name="keywords" content="tenten.vn SecureWEB hosting control panel">
    <meta name="author" content="tenten">

    <link href="/static/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/assets/libs/fontello/css/fontello.css" rel="stylesheet" />
    <link href="/static/assets/libs/animate-css/animate.min.css" rel="stylesheet" />
    <link href="/static/assets/libs/pace/pace.css" rel="stylesheet" />
    <link href="/static/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="fixed-left full-content">
<!-- Begin page -->
<div class="container">
    <div style="color: #FFF; background: #3E7D81" class="full-content-center animated flipInX error-page">
        <h1 style="color: #FFF;">500</h1>
        <h2>Oops! The page you are looking for is definitely not this!</h2><br>
        <a class="btn btn-primary btn-sm" href="/">Back to Dashboard</a>
    </div>
</div>
<script src="/static/assets/libs/pace/pace.min.js"></script>
</body>
</html>
